.Mosaic-Glass-Navigator {
    background-color: black;
    padding-top: 5%;
    height: 200px;
}
.Mosaic-Glass-Navigator > .__ETBR,
.Mosaic-Glass-Navigator > .__ETBR > .__refl {
    color: #004;
    font-family: Impact, 'Arial Black', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    background-color: #FFE;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    box-shadow: rgba(255, 255, 240, .2) 0 0 30px 15px,
                rgba(255, 255, 240, .3) 0 0 5px,
                inset rgba(0, 0, 0, .8) 0 0 3px;
    border-radius: 5px;
    position: relative;
    width: 200px;
}

.Mosaic-Glass-Navigator > .__ETBR > .__refl {
    position: absolute;
    top: 50px;
    left: 20px;

    -moz-transform: scaleY(-0.5);
    -webkit-transform: scaleY(-0.5);
    -ms-transform: scaleY(-0.5);
    transform: scaleY(-0.5);

    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: .25;

    box-shadow: inset rgba(0,0,0,.8) 0 0 3px, inset #000 0 7.5px 15px; /* first shadow is old */
}
